/* z-indexルール：Material-UI（https://mui.com/material-ui/customization/z-index/） */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/*---------------------------------
// my reset
//--------------------------------*/

button{
    border: 0;
    background: transparent;
}

input{
    border: none;
    outline: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

/*---------------------------------
// form
//--------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fbfbfb;
    color: #5e5e5e;
    padding-bottom: 100px;
    transition: background-color 0.3s ease-in-out;
}

body.fixed{
    overflow-y: hidden;
}

body.is-drawer-active{
    overflow-y: hidden;
}

body.is-drawer-active:after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 55, 63, 0.9);
}

.center{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 24px;
}

.title.title--top{
    text-align: left;
}

.title.title--top:before{
    display: inline-flex;
    content: "";
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    bottom:0;
    margin: auto 12px auto 0;
    transform: translate3d( 0, 2px, 0);
    background: url(/img/icon-book.svg) top left/contain;
}

.title.title--center{
    font-size: 26px;
    margin-left: auto;margin-right: auto;
    transform: translateX(-10px);
}

.title.title--sub{
    margin: 100px 0 -20px 0;
}

.title.title--green{
    color: #83bd75;
}

.title + .form__item{
    margin-top: 30px;
}

.box{
    background: #fff;
    margin: 100px auto;
    padding: 40px 30px;
    max-width: 370px;
}

/* -----------------------------------------------------------------
// header
// ---------------------------------------------------------------*/

.header{
    position: relative;
    padding: 40px;
    background-color: #fff;
}

.header__inner{
    display: flex;justify-content: space-between;align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header__link{
    align-items: center;
    color: #333;
    text-decoration-color: transparent;
    text-underline-offset: 6px;
    transition: opacity 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.header__link:hover{
    opacity: 0.6;
    text-decoration-color: currentColor;

}


.header__button{
    cursor: pointer;
}

.header__nav{
    position: fixed;
    z-index : 1200;
    top : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}

.header__nav.is-open{
    transform: translateX(0);
}

.header__nav-inner{
    width: 75%;
    padding: 100px 20px;
    margin-left: auto;
    margin-right: auto;
}

.header__nav-list:nth-child(2){
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px dotted #ccc;
}

.header__nav-item{
    font-size: 20px;
}

.header__nav-item + .header__nav-item{
    margin-top: 25px;
}

.header__hamburger{
    display: block;
    position: absolute;
    z-index: 1250;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 48px;
    height: 48px;
    margin: auto;
    background-color: #ccc;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__hamburger-bar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 2px;
    pointer-events: none;
    background-color: #fff;

    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.header__hamburger-bar:before, .header__hamburger-bar:after{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: inherit;
}

.header__hamburger-bar:before{
    top: -5px;
}

.header__hamburger-bar:after{
    top: 5px;
}

.header__hamburger[aria-expanded="true"] .header__hamburger-bar{
    background-color: transparent;
}

.header__hamburger[aria-expanded="true"] .header__hamburger-bar:before,
.header__hamburger[aria-expanded="true"] .header__hamburger-bar:after{
    top: 0;
    background-color: #fff;
}

.header__hamburger[aria-expanded="true"] .header__hamburger-bar:before{
    transform: rotate(45deg);
}

.header__hamburger[aria-expanded="true"] .header__hamburger-bar:after{
    transform: rotate(-45deg);
}

.header__hamburger-text{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.user-menu{
    display: none;
    position: absolute;
    top: 100px;
    right: 40px;
    z-index: 1300;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
}

.user-menu.is-active{
    display: block;
}

.user-menu__icon{
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #000;
}

.user-menu__img{
    display: block;
    width: 100px;
    margin: 0 auto;
}

.user-menu__name{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.user-menu__list{
    width: 90%;
    height: 100px;
    padding: 20px 15px;
    margin: 30px auto 0 auto;
    background-color: #ebeaea;
    border-radius: 10px;
}

.user-menu__item + .user-menu__item{
    margin-top: 10px;
}

.user-menu__button{
    display: flex;justify-content: center;align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 15px 20px;
    margin: 30px auto 0 auto;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #5e5e5e;
    border-radius: 30px;
    transition: opacity 0.3s ease-in-out;
}

.user-menu__button:focus,.user-menu__button:hover{
    opacity: 0.7;
}

/* -----------------------------------------------------------------
// setting
// ---------------------------------------------------------------*/

.setting{
    margin-top: 80px;
    padding: 0 40px;
}

.setting__inner{
    display: block;
    justify-content: center;
    align-items: flex-start;
    max-width: 820px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.setting__menu{
    display:  flex;
    padding: 10px 10px 10px 32px;
    background-color: #cccccc60;
    border-radius: 10px 10px 0 0;
}

.setting__menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-left: 17px;
}

.setting__menu-item{
    padding: 0 15px;
    color: #5e5e5e;
    border-right: 1px solid #ccc;
}

.setting__menu-item > a{
    color: #888;
}

.setting__img >img{
    display: block;
    width: 100px;
    margin: 0 auto;
    background-color: #fff;
}

.scallop-down{
    height: 40px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#cccccc60), color-stop(0.49,#cccccc60), color-stop(0.51, #fff), to(white));
    background-size: 49px 100%;
}

.setting__body{
    flex: 1;
    padding: 30px;
}

.setting__body .title{
    text-align: left;
}

/* -----------------------------------------------------------------
// form
// ---------------------------------------------------------------*/

.form__inner{
    margin-top: 30px;
}

.title + .form__inner{
    margin-top: 46px;
}

.form__title{
    display: flex;justify-content: center;align-items: center;
}

.form__title-text{
    padding: 15px;
    color: #83bd75;
    font-weight: bold;
}

.form__title-link{
    padding: 15px;
    font-size: 24px;
    color: #ccc;
    text-decoration-color: #ccc;
    text-underline-offset: 7px;
    transition: opacity 0.3s ease-in-out,text-decoration-color 0.3s ease-in-out;
}

.form__title-link:hover{
    opacity: 0.6;
    text-decoration-color: transparent;
}

.form__title-link.is-active{
    order: -1;
}

.form__lead{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.form__lead + .form__item {
    margin-top: 36px;
}

.form__item{
    position: relative;
}

.form__item input{
    position: relative;
    width: 100%;
    height: 25px;
    background: #fff;
    color: #666;
    border-bottom: 2px solid #e9e9e9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.form__item input:focus{
    border-bottom: 2px solid #c0c0c0;
}

.form__item + .form__item{
    margin-top: 15px;
}

.form__notion{
    font-size: 12px;
}

.form__required{
    color: white;
    background-color: #ee3e52;
    padding: 2px 5px 2px 4px;
    border-radius: 6px;
    font-size: 11px;
    margin-left: 6px;
}

.form__check{
    margin-top: 30px;
}

.form__check-link, .user-menu__link{
    cursor: pointer;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    color: #5e5e5e;
    transition: opacity 0.3s ease-in-out,border-color 0.3s ease-in-out;
}

.form__check-link:hover,.user-menu__link:hover{
    border-color: transparent;
    opacity: 0.7;
}

.form__check input[type=checkbox][disabled]{
    cursor: not-allowed;
}

.form__attention{
    display: block;
    font-size: 13px;
    padding-left: 15px;
}

.form__text{
    margin-top: 15px;
}

.form__button{
    margin-top: 45px;
    cursor: not-allowed;
}

.form__button--narrow{
    margin-top: 30px;
}

.form__button input{
    width: 100%;
    height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.form__button input:not([disabled]) {
    background-color: #83bd75;
    pointer-events: auto;
}

.form__button input:focus:not([disabled]),
.form__button input:hover:not([disabled]),
.form__button input:active:not([disabled]){
    cursor: pointer;
    opacity: 0.8;
}

.form__button + .form__text{
    margin-top: 50px;
}

.form__anchor{
    margin-top: 40px;
}

.form__eye{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
}

.form__eye:after{
    display: inline-block;
    content: '';
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: url('/img/icon-eye-slash.svg') no-repeat center center/contain;
}

.form__eye.is-open:after{
    background: url('/img/icon-eye.svg') no-repeat center center/contain;
}

/* -----------------------------------------------------------------
// modal
// ---------------------------------------------------------------*/

.modal{
    display: none;
    position: fixed;
    z-index: 1300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
}

.modal.is-active{
    display: block;
}

.modal__inner{
    position: relative;
    top: 10%;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    padding: 35px 45px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 8px rgb(68, 67, 67);
}

.modal__contents{
    overflow-y: scroll;
    height: 250px;
}

.modal__title{
    font-size: 20px;
    font-weight: bold;
}

.modal__text{
    margin-top: 20px;
}

.modal__subtitle{
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
}

.modal__close-button{
    position: absolute;
    z-index: 1350;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.register__text{
    text-align: center;
    margin-top: 10px;
}

.error{
    height: 20px;
    font-size: 14px;
    color: #ee3e52;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------------------------------------------------------
// slideshow
// ---------------------------------------------------------------*/

.slideshow{
    width: 100%;
    max-width: 679px;
    margin: 80px auto 0 auto;
}

.slideshow__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow__pict-list{
    position: relative;
    width: 500px;
    height: 325px;
    text-align: center;
}

.slideshow__pict-item{
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow__pict-item >img {
    border-radius: 3px;
}

.slideshow__pict-item.is-active{
    z-index: 1;
}

.slideshow__error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow__arrow{
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.slideshow__arrow:not([disabled]):focus,.slideshow__arrow:not([disabled]):hover{
    opacity: 0.6;
}

.slideshow__arrow[disabled]{
    cursor: auto;
}

.slideshow__arrow[disabled] img{
    opacity: 0.2;
}

.slideshow__arrow img{
    width: 30px;
    opacity: 0.6;
}

.slideshow__counter{
    text-align: center;
    margin-top: 10px;
}

.slideshow__counter-item{
    margin-left: 3px;
}

.pagination__list{
    display: flex;justify-content: space-between;
    width: 150px;
    padding: 0;
    margin-top: 10px;
    margin-left: auto;margin-right: auto;
}

.pagination__item{
    margin-top: 20px;
}

.pagination__btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.4;
    cursor: pointer;
}

.pagination__item.is-active .pagination__btn{
    opacity: 1;
}

/* -----------------------------------------------------------------
// tab
// ---------------------------------------------------------------*/

.tab-contents{
    margin-top: 120px;
}

.tab {
    width: 579px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 2px;
    margin: 60px auto 0 auto;
}

.tab__error{
    text-align: center;
}

.tab__nav-list {
    display: flex;
    justify-content: space-around;
}

.tab__nav-item + .tab__nav-item{
    border-left: 1px solid #e9efc0;
}

.tab__nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144.5px;
    height: 40px;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f8f8ff;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    transition: background-color 0.2s ease;
}

.tab__nav-button:focus,.tab__nav-button:hover {
    background-color: #fff;
}

.tab__nav-button.is-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab__contents {
    display: none;
}

.tab__contents.is-active {
    display: block;
}

.tab__contents-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.tab__contents-item {
    display: flex;
    font-size: 18px;
}

.tab__contents-link{
    display: block;
    color: #5e5e5e;
    text-decoration-line: underline;
    transition: text-decoration-line 0.8s ease-in-out;
}

.tab__contents-link:focus,.tab__contents-link:hover{
    display:block;
    text-decoration-line: none;
}

.tab__contents-icon {
    width: 19px;
    margin: 2px 0 0 10px;
}

.tab__contents-info {
    font-size: 15px;
    margin-left: 3px;
}

.tab__img{
    width: 120px;
}

.tab__img:nth-child(3){
    width: 100px;
}

.tab__contents-new {
    width: 35px;
    margin: 2px 0 0 11px;
}

/* -----------------------------------------------------------------
// sp
// ---------------------------------------------------------------*/
@media screen and (max-width: 768px) {

    .slideshow{
        max-width: 88vw;
        margin: 10vw auto 0 auto;
    }

    .slideshow__pict-list{
        width: 68vw;
        height: 43vw;
    }
    
    .slideshow__counter{
        font-size: 4vw;
    }

    .slideshow__arrow img{
        width: 5vw;
    }

    .header{
        padding: 5vw;
    }

    .header__nav{
        width: 100%;
    }

    .header__button >img{
        width: 12vw;
    }

    .user-menu{
        top: 18vw;
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        padding: 4vw 1vw;
        margin: auto;
    }

    .user-menu__list{
        height: 12vw;
        padding: 2vw 1vw;
        margin-top: 6vw;
    }

    .user-menu__item{
        font-size: 2.4vw;
    }

    .user-menu__button{
        width: 90%;
        padding: 3vw 3vw;
        margin-top: 6vw;
        font-size: 3.2vw;
    }

    .user-menu__img{
        width: 15vw;
    }

    .user-menu__name{
        font-size: 3.5vw;
    }

    .user-menu__email{
        font-size: 2.4vw;
    }
    
    .setting{
        margin-top: 10vw;
        padding: 0 4vw;
    }
        
    .setting__menu{
        display: flex;
        padding: 3.4vw 1.8vw 3.4vw 5.2vw;
    }
    
    .setting__menu-list{
        margin-left: 2vw;
    }
    
    .setting__menu-item{
        padding: 0 3vw;
        font-size: 3.3vw;
    }

    .setting__img >img{
        width: 15vw;
    }

    .scallop-down{
        height: 7vw;
        background-size: 6.5vw 100%;
    }    
                
    .setting__body{
        padding: 5vw;
    }
    
    .title{
        font-size: 4vw;
    }

    .title.title--top{
        font-size: 5vw;
    }

    .title.title--top:before{
        width: 4vw;
        height: 4vw;
        margin: auto 1vw auto 0;
    }

    .title.title--sub{
        font-size: 4.5vw;
    }

    .title.title--green{
        font-size: 5.2vw;
    }

    .tab {
        max-width: 88vw;
        margin-top: 10vw;
    }
    
    .tab__nav-button {
        max-width: 21.92vw;
        height: 7vw;
        padding: 0.1vw 0.2vw;
        font-size: 2.8vw;
    }

    .tab-contents{
        margin-top: 25vw;
    }
    
    .tab__contents-inner {
        padding: 6vw;
    }

    .tab__contents-item {
        font-size: 3vw;
    }

    .tab__contents-icon {
        width: 4.2vw;
        margin: 0.4vw 0 0 2vw;
    }

    .tab__contents-info {
        font-size: 3vw;
        margin-left: 0.8vw;
    }

    .tab__img{
        width: 28vw;
    }

    .form__title-link{
        font-size: 4vw;
        padding: 3vw;
    }

    .form__title-text{
        padding: 2.4vw;
    }

    .form__item{
        font-size: 2.4vw;
    }

    .form__check-text{
        font-size: 2.4vw;
        align-items: center;
    }

    .form__button{
        margin-top: 5vw;
    }

    .form__button > input{
        font-size: 2.8vw;
        height: 10vw;
    }

    .form__notion,.form__attention{
        font-size: 1.9vw;
    }

    .form__text{
        margin-top: 4vw;
        font-size: 2.4vw;
    }

    .form__eye:after{
        width: 4vw;
        height: 4vw;
    }

    .error{
        font-size: 2.3vw
    }
}
